{{#section 'css'}}
<link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{{/section}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Users listing</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active"><a href="/users/new">Add New</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listed Users</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="userListing" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th>Is Login</th>
                    <th>Action</th>
                  </tr>
                </thead>
                {{!-- <div id="DocumentResults"></div>
                <script id="document-template" type="text/x-handlebars-template"> --}}
                  <tbody>
                    <tr>
                        <td>1</td>
                        <td>shanu</td>
                        <td>new</td>
                        <td>Admin</td>
                        <td>06-04-2023</td>
                        <td>Yes</td>
                        <td>Edit</td>
                      </tr>
                    {{#each users}}                    
                      <tr>
                        <td>{{this}}</td>
                        <td>{{username}}</td>
                        <td>new</td>
                        <td>Admin</td>
                        <td>06-04-2023</td>
                        <td>Yes</td>
                        <td>Edit</td>
                      </tr>
                    {{/each}}
                    <tr>
                  </tbody>
                {{!-- </script> --}}
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../javascript/pager.js"></script>
{{!-- <script src="../javascript/turbotables.js"></script> --}}
{{!-- <script src="../plugins/jszip/jszip.min.js"></script>
<script src="../plugins/pdfmake/pdfmake.min.js"></script> --}}
{{!-- <script src="../plugins/pdfmake/vfs_fonts.js"></script> --}}
<script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
  $(function () {
    $("#userListing").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#userListing_wrapper .col-md-6:eq(0)');
 //   bindGrid("users", "document-template", users, "DocumentResults")
 
    //var source = $("#document-template").html();
    //var template = Handlebars.compile(source);
    //var html = template(users);
    //console.log(html)
    //$('#DocumentResults').html(html);
  });
</script>